<div class="search-wrapper">
  <div [formGroup]="myForm" class="search-inputs">
    <mat-form-field appearance="fill">
      <mat-label>Вид документа:</mat-label>
      <mat-select formControlName="documentType">
        <mat-option
          *ngFor="let documentType of documentTypes"
          [value]="documentType.type"
        >
          {{ documentType.type }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label>Номер:</mat-label>
      <input matInput type="text" formControlName="documentNumber" />
    </mat-form-field>
  </div>

  <div class="search-buttons">
    <button
      class="button"
      mat-raised-button
      color="primary"
      (click)="searchDocument()"
    >
      Найти
    </button>
    <button
      class="button"
      mat-raised-button
      color="warn"
      (click)="clearSearch()"
    >
      Очистить
    </button>
  </div>
</div>
