<div *ngIf="myForm" class="dialog-wrapper">
  <h2 class="dialog-header">Документ</h2>
  <form [formGroup]="myForm" (ngSubmit)="submitForm()">
    <div class="dialod-checkbox">
      <mat-checkbox class="checkbox" formControlName="isMain"
        >Основной документ, удостоверяющий личность</mat-checkbox
      >
      <mat-checkbox class="checkbox" formControlName="isArchived"
        >Архивный документ</mat-checkbox
      >
    </div>

    <div class="inputs-with-datepicker">
      <mat-form-field appearance="fill" class="input-document-type">
        <mat-label>Вид документа:</mat-label>
        <mat-select formControlName="documentType">
          <mat-option
            *ngFor="let documentType of documentTypes"
            [value]="documentType.type"
          >
            {{ documentType.type }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="input-document-series">
        <mat-label>Серия:</mat-label>
        <input matInput type="text" formControlName="series" />
      </mat-form-field>

      <mat-form-field class="input-document-series">
        <mat-label>Номер:</mat-label>
        <input
          matInput
          type="text"
          formControlName="number"
          [textMask]="numberMask"
        />
      </mat-form-field>

      <mat-form-field appearance="fill" class="datepicker">
        <mat-label>Дата выдачи:</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="dateOfIssue"
        />
        <mat-hint>ММ/ДД/ГГГГ</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="select-input-with-mask-input">
      <mat-form-field appearance="fill" class="select-input">
        <mat-label>Организация, выдавшая документ:</mat-label>
        <mat-select formControlName="organization">
          <mat-option
            *ngFor="let organizationType of organizationTypes"
            [value]="organizationType.type"
          >
            {{ organizationType.type }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="mask-input">
        <mat-label>Код подразделения:</mat-label>
        <input
          matInput
          type="text"
          [textMask]="divisionCodeMask"
          formControlName="divisionCode"
        />
      </mat-form-field>
    </div>

    <mat-dialog-actions class="dialog-button">
      <button
        [disabled]="myForm.invalid"
        type="submit"
        mat-raised-button
        color="primary"
        [mat-dialog-close]="true"
      >
        Сохранить
      </button>
      <button
        type="button"
        mat-raised-button
        color="basic"
        mat-dialog-close
        cdkFocusInitial
      >
        Выход
      </button>
    </mat-dialog-actions>
  </form>
</div>
