<div class="nav-container">
  <div class="nav-buttons">
    <button
      mat-raised-button
      class="button add-button"
      (click)="addDocuments()"
    >
      Добавить
      <span class="material-icons"> add </span>
    </button>
    <button
      [disabled]="isDisabledEditButton"
      mat-raised-button
      color="primary"
      class="button"
      (click)="editDocument()"
    >
      <span class="material-icons"> edit_document </span>
      Редактировать
    </button>
    <button
      [disabled]="isdisabledDeleteButton"
      mat-raised-button
      color="warn"
      class="button"
      (click)="removeDocument()"
    >
      <span class="material-icons"> delete </span>Удалить
    </button>
  </div>
  <div class="nav-checkbox">
    <mat-checkbox
      [disabled]="isDisableArchiveCheckbox"
      class="checkbox"
      (click)="toggleArchived()"
      >Показать архивные</mat-checkbox
    >
  </div>
</div>

<table *ngIf="documents && documents.length" class="table">
  <thead>
    <tr>
      <th class="type-document" (click)="sortDocumentsByType()">
        Вид документа<span class="material-icons sort-icon"> height </span>
      </th>
      <th (click)="sortDocumentsBySeries()">
        Серия<span class="material-icons sort-icon"> height </span>
      </th>
      <th (click)="sortDocumentsByNumber()">
        Номер<span class="material-icons sort-icon"> height </span>
      </th>
      <th (click)="sortDocumentsByDate()">
        Дата Выдачи<span class="material-icons sort-icon"> height </span>
      </th>
    </tr>
  </thead>

  <tbody
    *ngFor="
      let document of documents | paginate : { itemsPerPage: 5, currentPage: p }
    "
    [ngClass]="{
      'is-archived': document.isArchived
    }"
  >
    <tr
      class="table-hovered"
      (click)="toggleSelected(document.id)"
      [ngClass]="{
        'is-selected': document.isSelected
      }"
    >
      <td
        [ngClass]="{
          'not-main': !document.isMain
        }"
      >
        <span *ngIf="document.isMain" class="material-icons icon-main-document">
          check
        </span>
        {{ document.documentType }}
      </td>
      <td>{{ document.series }}</td>
      <td>{{ document.number }}</td>
      <td>{{ document.dateOfIssue }}</td>
    </tr>
  </tbody>
</table>
<div *ngIf="documents && documents.length">
  <pagination-controls
    (pageChange)="p = $event"
    previousLabel="Предыдущая страница"
    nextLabel="Следующая страница"
  ></pagination-controls>
</div>
